body {
    background-color: white;
}

h1 {
  background-color: #333; 
  color: white; 
  padding: 20px; 
}

.Flex-container {
    border: 1px solid black;
    background: rgb(189, 186, 186);
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
}

.Flex-container2 {
    border: 1px solid black;
    background: rgb(189, 186, 186);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.caja {
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    overflow: hidden;
}

.caja img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}